body{
    width: 100%;
    overflow-x: hidden;
}

.register-page{
    background-image: url(../img/login_page.jpg);
    background-size: cover;
    height: 100vh;
}

.title{
    font-size: 3rem;
    font-weight: 700;
}

.content{
    margin-top: 4rem;
}

.link-title{
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    color : #000;
    opacity: 0.7;
}

.produk-img{
    width: 50vh;
    height: 50vh;
    object-fit: cover;
}

.product-detail-price{
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0.8;
}

.produk-detail-subtitle-price{
    font-size: 1rem;
    font-weight: 700;
}

.dashboard{
   height: 100vh;
}

.link-photo-user-produk{
    width: 3rem;
    height: 15rem;
    object-fit: cover;
}

.user-produk-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.pages-jumbotron{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
    background-image: url(../img/jumbotron_bg.webp);
}

.jumbotron-title{
    width: 50%;
    font-size: 3rem;
}

.jumbotron-shadow{
    height: 120vh;
    width: 100%;
   background-color: rgba(0, 0, 0, 0.5);; 
}

.subtitle-jumbotron{
    font-size: 1.5rem;
    font-weight: 700;
}

.visi-misi{
    background-image: url(https://i.pinimg.com/564x/22/2b/0e/222b0e85ad637b591b895c64fb150c47.jpg);
    background-size: cover;
}

.visi-subtitle{
    font-size: 1.5rem;
    font-weight: 600;
}

.about_us{
    width: 46rem;
    height: 40rem;
}

.about_owner{
    width: 33rem;
    height: 40rem;
    background-size: contain;
}

.whyUs{
    background-image: url('../img/menujumbotron.jpg');
    background-size: cover;
}

.whyUsCover{
    background-color: rgba(0, 0, 0, 0.3);
}

.link-photo-why-us{
    width: 13rem;
}

.produk-img{
    width: 13rem;
    height: 10rem;
    background-size: contain;
}

.subtitle-produk-img{
    width: 12rem;
    color: black;
    font-size: 3rem;
}

.kontak-img{
    width: 32rem;
}

.kontak-title{
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

.kontak-subtitle{
    font-size: 1.2rem;
}

.img-testimoni{
  width: 13rem;
  height: 10rem;
  margin: 3rem
}

.coment-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.card-testimoni{
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    background-size: cover;
    margin: 2rem;
}

@media screen and (max-width: 768px){
    .about_us{
        width: 100%;
        height: 100%;
    }
    .title{
        font-size: 2rem;
    }

    .link-photo-user-produk{
        width: 3rem;
        height: 10rem;
        object-fit: cover;
    }

    .link-title{
        font-size: 1rem;
    }

    .product-detail-price{
        font-size: 1rem;
    }

    .produk-detail-subtitle-price{
        font-size: 0.8rem;
    }

    .user-produk-title{
        font-size: 1rem;
    }

    .jumbotron-title{
        width: 100%;
    }
}